


body {
	background:#16202C;
	color: #FFFFFF;
	font-family: BlinkMacSystemFont;
	font-size:17px ;
	font-weight: lighter;

}
h1, h2,h3 {
	font-family: 'Roboto', sans-serif;
}
h1 {
	color: #FFFFFF;
	font-size: 30px;
	font-weight: 900;
}
h2 	{
	color: #20A1F1;
	font-size: 22px;
	font-weight: lighter;
	font-weight: 300;
}

a {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
	font-weight: 600;
	font-size:16px;



}
a:hover {
	color:#20A1F1;	
}

img {

	font-size: 16px;
}
.container {
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 960px) {

	.container {
		width: 700px;
	}
}
@media (max-width: 720px) {

	.container {
		width: 500px;
	}
}

@media (max-width: 540px) {

	.container {
		width: 300px;
	}
}


.card-white {
	margin: 40px 0px;
	text-align: center;
    
    padding: 5px;
  
   
    border: 50px #ffffff;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 2px #20a1f1;
}
.img-circle {
	border-radius: 50%;
}
.btn-blue {
	background-color: #20A1F1;
	color: white;
	padding: 15px 25px;
	border-radius: 4px;
}
.btn-blue:hover {
	background-color:black;
	color:white;
}
.list-inline {
	list-style:none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;
	color: rgb(130,130,130);
}
.list-inline i:hover {
	font-size:50px;
	color: white;
}

#introduction p {
	margin-bottom: 40px;
}